services:
  veilnet-conflux:
    build: .
    container_name: veilnet-conflux
    image: veilnet/conflux:beta
    pull_policy: always
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file:
      - .env
